@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Pacifico&family=Titan+One&display=swap');
html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#123, #111);
}

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}



/***/


.Intro
{
      font-family: 'Titan One', cursive;
    background-color: #333;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
  
    color: aqua;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  
    color: blue;
  }
.foot{
       background-color: dimgrey;
      font-family: 'Titan One', cursive;
}
.About{
  background-color: dimgrey;
  font-family: 'Titan One', cursive;

}

.Contact{
  background-color: dimgrey;
  font-family: 'Titan One', cursive;
}
.Skills{
  background-color: aquamarine;
    font-family: 'Titan One', cursive;
}
.Projects{
    font-family: 'Titan One', cursive;
    background-color: orange

}
div.projectscroll{
  
  
  overflow: auto;
  white-space: nowrap;
}
.Working-On{
      font-family: 'Titan One', cursive;
      background-color: firebrick;
      
}
.Sdomains{
  background-color: aquamarine;
       font-family: 'Titan One', cursive;
}

  
